body {
  font-family: "Muli", sans-serif !important;
  font-weight: 300;
  text-decoration: none !important;
}

.bg-light {
  background-color: #e2e2f2 !important;
}

.items {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 1.1rem;
}
.nombre-logo {
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 2rem;
}

.titulo {
  font-size: 1.3rem;
}
/*
.nav-item:hover{
    background-color: rgba(90, 88, 24, 0.5);
    border-radius: 10%;
}*/

@media (min-width: 992px) {
  .carrusel-size {
    height: 15vh;
  }
  .carrousel-img {
    height: 15vh;
  }
}

@media (min-width: 995px) {
  .carrusel-size {
    height: 75vh;
  }
  .carrousel-img {
    height: 75vh;
  }
}
